@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-poppins), sans-serif;
  color: #18181b;
}

@theme {
  --color-primary: #ff634a;
  --color-secondary: #511a75;
}

h1 {
  color: #ff634a !important;
}

h2 {
  color: #511a75 !important;
}
